.navbar {
  background-color: #343a40;
  padding: 1rem;

}
.navbar-brand {
  color: #fff !important;
}

.icono{
  margin-right: 5px;
}


.nav-link {
  color: #fff !important;
  font-size: 1.2rem;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border: 1px solid !important;
  border-color: #fff !;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
}

.nav-link i {
  margin-right: 5px;
}
.navbar-nav{
display: flex;
align-items: center;
}
.nav-link:hover {
  color: #ffc107 !important; 
}

.navbar-text {
  color: #fff !important;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  list-style:none
}

.navbar-text.total i {
  margin-right: 5px;
}
.totalCarrito{
  color: #3498db !important;
  border-radius:5px  ;
  font-size: 1rem !important;
  padding: 2px !important;
  border-color: #3498db !important;
  background-color: #343a40;
}