
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0;
}
.row{
  padding-left: 0px !important;
}
.card-img-top {
  width: 100%;
  height: auto;
}
.ingredientes{
  font-size: 3px;
}
.card-text{
  text-align: center;
  white-space: nowrap;
  font-size: 0.9rem;

}
.icono{
  margin-right: 5px;
}

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .list-group{
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  
  .list-group-item {
    font-size: 1.2rem;
  }


